<% if flash[:notice]%>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %>
    </div>
<% end %>

<strong>Título:</strong>
  <%= @room.title %>
</p>

<p>
  <strong>Localização:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @room.description %>
</p>

<%= link_to 'Editar', edit_room_path(@room), class: "btn btn-primary" %> |
<%= link_to 'Voltar', rooms_path, class: "btn btn-primary" %>
